apiVersion: 1

contactPoints:
  - orgId: 1
    name: slack-alerts
    receivers:
      - uid: slack-alerts
        type: slack
        settings:
          url: ${SLACK_WEBHOOK_URL}
          text: |
            {{ range .Alerts }}
              {{ if .Labels.device }}⚠️ {{ .Labels.device }} ({{ .Labels.mountpoint }}) storage alert{{ else }}{{ .Annotations.summary }}{{ end }}
            {{ end }}
        disableResolveMessage: false
