apiVersion: 1

contactPoints:
  - orgId: 1
    name: slack-alerts
    receivers:
      - uid: slack-alerts
        type: slack
        settings:
          url: ${SLACK_WEBHOOK_URL}
          text: |
            {{ range .Alerts }}
              {{ .Annotations.summary }}
              {{ .Annotations.description }}
            {{ end }}
        disableResolveMessage: false
